body{
	background: #fff;
	font-size: 12px;
}

.app .tmpl{
	margin: 40px 0 50px;
	overflow: hidden;
}

/*清除浮动代码*/ 
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clearfloat{zoom:1} 
.fl{ float:left;}
.fr{ float:right;}